%h2 Administration Options

%div.mt-3
  %a{href: '/requests'} Pending Requests
%div.mt-1
  %a{href: '/requests/all'} All Requests
%div.mt-1
  %a{href: '/password'} Change Password
%div.mt-1
  %a{href: '/logout'} Log Out
