!!!
%html{lang: 'en'}
  %head
    %title Disabled Techies Slack
    %script{src: "/assets/js/dtslack.js"}
    %link{rel: :stylesheet, href: "/assets/css/bootstrap.min.css", integrity: "sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x", crossorigin: "anonymous"}
  %body
    %div.container-fluid
      %h1 Disabled Techies Slack
      = yield
