%h2 Change Password
- if @message and @message.include? 'success' then
  %div.bg-success.text-white.p-2
    = @message
- elsif @message
  %div.bg-warning.p-2
    = @message
%form{method: 'post'}
  %div.mb-3
    %label.form-label{for: 'existing'} Existing Password:
    %input.form-control#existing{type: 'password', name: 'existing', required: true}
  %div.mb-3
    %label.form-label{for: 'new'} New Password:
    %input.form-control#new{type: 'password', name: 'new', required: true}
  %div.mb-3
    %label.form-label{for: 'newagain'} New Password:
    %input.form-control#newagain{type: 'password', name: 'newagain', required: true}
  %button.btn.btn-primary.mb-3{type: 'submit'} Change Password
